@tailwind base;
@tailwind components;
@tailwind utilities;

.light-theme {
  --color-1: #f6f6f6;
  --color-2: #e8e8e8;
  --color-3: #333333;
  --color-4: #990100;
  --color-5: #b90504;

  background-color: var(--color-1);
}

.header {
  --theme-color: var(--color-3);
}

.photos {
  --theme-color: var(--color-2);
}

.footer {
  --theme-color: var(--color-3);
}
